
@keyframes apparition {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');


.area{   
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: blue;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 10px;
}

.logo img {
    height: 40px;
    width: auto;
}

.hamburger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 70px;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: black;
}
body{
    scroll-behavior: smooth;
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}
section {
    min-height: 100vh;
    display: flex;
}

#accueil{
    height: 100vh;
    font-family: Noto Sans, sans-serif;
}
.un{
    margin-left: 85px;
}
.codey{
    font-size: 30px; 
    font-family: sans-serif;
}
.Hello{
    margin-top: 50px;
    margin-left: 120px;
    color: black;
    font-size: 23px;
    align-items: center; /* Centrer verticalement */

}
.Hello img {
    height: 40px;
    width: auto;
    
}
.titre{
    padding-left: 15px;
    border-bottom: 3px solid green;
    border-left: 3px solid black;
    font-size: 50px;
}
#texte{
    color: green;
    margin-left: 450px;
    font-size: 40px;
}
#Presentation{
    height: 100vh;
    display: flex;
    font-family: Noto Sans, sans-serif;
    background-color: rgb(244, 237, 237);
}
.Presentation-column{
    display:inline-block;
    margin-top: 15px;
    margin-right: 30px;
    margin-left: 35px;
    color: black;
    font-size: 23px;
}
.Presentation-column img{
    margin-top: 30px;
    height: 500px;
    width: auto;
}
.triangle-button {
    border: 1px solid green; /* Ajustez la couleur et la taille comme nécessaire */
    border-radius: 10px;
    width: 150px;
    cursor: pointer; /* Change le curseur en main pour indiquer qu'il s'agit d'un bouton */
    padding: 5px;
    color: black;
    background-color: green;
}
#Competences {
    height: auto;
    display: flex;
    font-family: Noto Sans, sans-serif;
    justify-content: center;
}
.module-line-competences{
    width: 30%; /* ou la largeur désirée */
    margin: 0 auto; /* Centrage horizontal */
    height: 2px; /* ou la hauteur désirée pour la ligne */
    background-color: green; /* ou la couleur désirée pour la ligne */
    margin-bottom: 10px;
}
#SkillBox {
    width: 80%;
    margin: auto;
}
.intitule{
    color: black;
    display: block; /* ou 'inline-block' si vous préférez */
    text-align: center;
    width: 100%; 
    font-size: 30px;
}
.SkillBar {
    margin: 20px 0;
}
.Skill-Area{
    color: black;
}
.ProgressBar {
    width: 100%;
    background-color: #ddd;
    height: 20px;
}

.Progress {
    height: 20px;
    background-color: #4CAF50;
    width: 0%;
}

.PercentText {
    margin-left: 5px;
    color: black;
}

#Contact{
    height: 40vh;
    display: flex;
    margin-bottom: 0px;
    font-family: Noto Sans, sans-serif;
    width: 100%;
    justify-content: center;
    background-color: rgb(244, 237, 237);
}
.Contact-column{
    display: inline-block;
    margin-top: 110px;
    color: black;
    padding: 15px;
}

.Contact-column form{
    width: 100%;
    padding-top: 60px;
    padding-bottom: 70px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 60px;
    border-radius: 7px;
}
.Contact-column h1{
    text-align: center;
}
form input{
    width:  100%;
    height: 25px;
}
form textarea{
    width: 100%;
    height: 90px;
    font-family: Noto Sans, sans-serif;
}
footer{
    height: 20vh;
    padding-top: 20px;
    color: black;
    font-family: Noto Sans, sans-serif;
} 
  .social-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: green;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: black;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .dark-mode {
    background-color: rgb(17, 17, 17);
    color: white;
    }

@media (max-width: 400px) {
    section {
        min-height: 70vh;
        display: flex;
    }
    .Hello{
        margin-left: 20px;
    }
    .un{
        margin-top: 240px;
        margin-left: 11px;
    }
    .codey{
        font-size: 20px;
    }
    #texte{
        color: green;
        margin-left: 200px;
        font-size: 20px;
    }
    .titre{
        font-size: 25px;
    }
    #Presentation {
        display: flex;
        flex-direction: column; /* Organise les éléments enfants en colonne */
        align-items: center; /* Centre les éléments enfants horizontalement */
        height: auto;
        width: auto;
        justify-content: center;
        background-color: rgb(244, 237, 237);
    }
    .Presentation-column{
        display:inline-block;
        margin-top: 50px;
        margin-right: 30px;
        margin-left: 35px;
        color: black;
        font-size: 23px;
    }
    .Presentation-column img{
        height: 390px;
        width: auto;
        margin-top: 40px;
    }
    #Competences{
        height: auto;
    }
    #SkillBox{
        margin-top: 100px;
    }
    .module-line-competences{
        width: 30%; /* ou la largeur désirée */
        margin: 0 auto; /* Centrage horizontal */
        height: 2px; /* ou la hauteur désirée pour la ligne */
        background-color: green; /* ou la couleur désirée pour la ligne */
        margin-bottom: 10px;
    }
    .intitule{
        color: black;
        display: block; /* ou 'inline-block' si vous préférez */
        text-align: center;
        width: 100%; 
        font-size: 30px;
    }
    .SkillBar {
        margin: 20px 0;
    }
    .Skill-Area{
        color: black;
    }
    .ProgressBar {
        width: 100%;
        background-color: #ddd;
        height: 20px;
    }
    
    .Progress {
        height: 20px;
        background-color: #4CAF50;
        width: 0%;
    }
    
    .PercentText {
        margin-left: 5px;
        color: black;
    }
    #Contact{
        display: flex;
        margin-bottom: 0px;
        font-family: Noto Sans, sans-serif;
        width: 100%;
        background-color: rgb(244, 237, 237);
        justify-content: center;
    }
    .Contact-column{
        display: inline-block;
        margin-top: 90px;
        color: black;
        justify-content: center;
        padding-right: 20px;
    }
    .Contact-column form{
        padding-top: 60px;
        padding-bottom: 70px;
        border-radius: 7px;
        padding: 0;
    }
    form input{
        height: 25px;
    }
    form textarea{
        width: 100%;
        height: 90px;
        font-family: Noto Sans, sans-serif;
    }
    footer {
        width: 390px;
        display: block;
        justify-content: center;
    }
    .social-icon{
        padding-right: 35px;
        display: flex;
        margin: 10px 0;
        flex-wrap: wrap;
      }
    
}